.stick{
    margin-top: 20vh;
    text-align: left;
    justify-content: left;
    position: fixed;
    top: 0;
    z-index: 100;
    height:52vh;
    background: url(https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1174&q=80);
    border-radius: 10px;
    margin-left: 2%;
    width: 15vw;
  }
  .stick h2{
    color: white;
    text-align: center;
  }
  #buttons button{
    display: block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: .15rem;
  transition: all .3s;
  overflow: hidden;
  z-index: 1;
  background-color: #2196F3;
  margin: 10px;
  justify-content: center;
    
  }
  #buttons button:hover{
    background-color: rgb(25, 66, 146);
  }